<div class="mainBody">

<div class="col-lg-12">

	<div class="postTitle">
    <!-- display the post title -->
		<h2><b>{{post.title}}</b> by <i>{{user.username}}</i></h2>
	</div>

  <!-- display the post body -->
	<p id="body" contenteditable="{{editMode}}" ng-model="new">{{post.body}}</p>

	<!-- add functionality that makes this Edit button work -->
	<a ui-sref="main">Back to All Posts</a><br><br>

	<button type="button" class="btn btn-primary" ng-click="edit(post.body)">Edit</button>

</div>
</div>